<!DOCTYPE html>
<html lang="en" ng-app="bmw-page">
<head>
    <meta charset="UTF-8">
    <title>BMW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="page-block">
        <div class="page-block__header">
            <div class="header">
                <div class="header__row header__row_logo">
                    <div class="header__logo">
                        <div class="logo">
                            <a href="#" class="logo__link">
                                <div class="logo__img">
                                    <img src="img/bmw-logo.png" alt="logo">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="header__hero-img">
                        <div class="hero-img">
                            <div class="hero-img__bg-mask">

                                <img class="hero-img__bg-img" src="img/hero-img_bg.jpg" alt="logo">
                                <!--<div class="hero-img__bg">-->

                                <!--</div>-->

                                <div class="hero-img__title">
                                    <h1 class="img-title">
                                        <span class="img-title__unit">MINI Roadster</span>
                                        <span class="img-title__unit">Concept Unveiled</span>
                                    </h1>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="header__row  header__row_nav">
                    <nav class="nav">
                        <div class="nav__login">
                            <div class="login">
                                <a href="#" class="login__item login__item_login">Вход</a>
                                <span class="login__item">или </span>
                                <a href="#"class="login__item  login__item_registration">Регистрация</a>
                            </div>
                        </div>
                        <div class="nav__menu">
                            <div class="nav__menu-bg">
                            </div>
                            <ul class="menu">
                                <li class="menu__item menu__item_active">
                                    <a href="#" class="menu__link menu__link_active ">Статьи</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Блоги</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Авторы</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Галерея</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Компании</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
        <div class="page-block__content">
                <div class="content">
                    <div class="content__main">
                        <main class="main">
                            <div class="main__row">
                                <article class="article">
                                    <div class="article__content">
                                        <h1 class="article__header">BMW запустит в серию гибридный спорткар</h1>
                                        <div class="article__info">
                                            <span class="article__date">01.02.2010 17:53,</span>
                                            <span class="article__author">Редакция</span>
                                        </div>
                                        <p class="article-text-normal">
                                            В ближайшие три года компания BMW планирует запустить в серийное
                                            производство
                                            концептуальный спорткар Vision EfficientDynamics, который был впервые
                                            представлен на
                                            моторшоу во Франкфурте осенью прошлого года. Как сообщает издание Inside
                                            Line со
                                            ссылкой на собственный источник, сейчас руководство бренда решает, каким
                                            тиражом
                                            будет выпущена такая машина. На данный момент в BMW рассматривают
                                            максимальный
                                            объем производства в размере 5-10 тысяч автомобилей.
                                        </p>
                                        <div class="article__announcement">
                                            <p class="announcement">
                                                Дизельный двигатель BMW Vision EfficientDynamics
                                                включается в работу только когда заряд литий-полимерных
                                                аккумуляторов достигает минимального уровня. Батареи от
                                                обычной домашней розетки с напряжением 220 вольт можно
                                                зарядить за 2,5 часа. Кроме того, автомобиль оснащен
                                                системой рекуперации энергии при торможении.
                                            </p>
                                        </div>
                                        <p class="article-text-normal">
                                            Концептуальный спорткар с посадочной формулой 2+2 построен на алюминиевом
                                            шасси и
                                            оснащен 356-сильной гибридной силовой установкой, состоящей из 1,5-литрвого
                                            турбодизеля мощностью 163 лошадиные силы, двух электромоторов (по одному на
                                            каждой
                                            оси) и роботизированной коробки передач с двумя сцеплениями. С нуля до ста
                                            километров
                                            в час прототип способен разогнаться за 4,8 секунды. Максимальная скорость
                                            машины
                                            ограничена электроникой на отметке 250 километров в час
                                        </p>
                                        <div class="article__technical-info">
                                            <div class="technical-info">
                                                <div class="technical-info__table">
                                                    <div class="technical-table">
                                                        <div class="technical-table__row">
                                                            <div class="technical-table__cell">3 liter per 100 km</div>
                                                            <div class="technical-table__cell">164kw</div>
                                                        </div>
                                                        <div class="technical-table__row">
                                                            <div class="technical-table__cell">0 -100 km/h (62 mph)</div>
                                                            <div class="technical-table__cell">5.0 sec</div>
                                                        </div>
                                                        <div class="technical-table__row">
                                                            <div class="technical-table__cell">Top speed</div>
                                                            <div class="technical-table__cell">250 km/h (155 mph)
                                                            </div>
                                                        </div>
                                                        <div class="technical-table__row">
                                                            <div class="technical-table__cell">Weigh</div>
                                                            <div class="technical-table__cell">1,630 kg – 3,600 lbs</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="technical-info__list">
                                                    <ul class="technical-list">
                                                        <li class="technical-list__item">3-cylinder 1.5 liter petrol engine</li>
                                                        <li class="technical-list__item">electric motor – 96kw</li>
                                                        <li class="technical-list__item">Battery Charge Time – 1.45 hrs</li>
                                                        <li class="technical-list__item">Luggage storage – 100 liters</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <p class="article-text-normal">
                                            Этот автомобиль станет второй моделью немецкого производителя, после
                                            городского
                                            электрокара i3, который будет выпускаться под суббрендом "i", созданным
                                            специально для
                                            продажи экологически чистых машин. Ожидается, что производство нового
                                            спорткара
                                            начнется через два года.
                                        </p>
                                        <p class="article-text-normal">
                                            Как сообщалось ранее, спорткар BMW i8, созданный в стилистике
                                            концептуального
                                            автомобиля Vision EfficientDynamics, получит алюминиевое шасси и кузов из
                                            армированного
                                            углеволокном пластика - материала, разрабатываемого баварским концерном
                                            совместно с
                                            американским партнером SG Carbon. Новинка будет оснащаться гибридной силовой
                                            установкой, сочетающей в себе трехцилиндровый бензиновый мотор объемом 1,5
                                            литра,
                                            170-сильный электродвигатель и литий-ионный аккумуляторы.
                                        </p>


                                    </div>
                                    <div class="article__slider">
                                        <div class="slider">
                                            <div class="slider__header">
                                                <div class="slider__message">
                                                    <div class="message message_slider">
                                                        <div class="message__text">
                                                            <span class="message__text-unit">Галерея доступна по</span>
                                                            <a class="message__link" href="#">
                                                                этой ссылке
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="slider__title">Фотографии <span class="slider__num lider__num-current">8</span><span class="slider__num">/</span><span class="slider__num slider__num-all"" >24</span></h2>
                                            </div>
                                            <ul class="slider__current-slide">
                                                <li class="slider__current-slide-unit">
                                                    <img class="slider__current-slide-img" src="img/bmw_1.png" alt="">
                                                </li>
                                            </ul>
                                            <p class="slider__copyright">
                                                © Пресс-служба «BMW»
                                            </p>
                                            <div class="slider__nav">

                                                <div class="slider-nav">

                                                    <div class="slider-nav__btn slider-nav__btn_prev">
                                                        <button type="button"
                                                                class="slider-btn slider-btn_prev"></button>
                                                    </div>
                                                    <div class="slider-nav__btn slider-nav__btn_next">
                                                        <button type="button"
                                                                class="slider-btn slider-btn_next"></button>
                                                    </div>

                                                    <div class="slider__list">

                                                        <div class="slider-list__box">
                                                            <ul class="slider-list clearfix">
                                                                <li class="slider-list__item">
                                                                        <a href="#" class="slider-list__item-link">
                                                                            <img src="img/bmw-min_1.png"
                                                                                 class="slider-list__item-img">
                                                                        </a>
                                                                    </li>
                                                                <li class="slider-list__item slider-list__item_active">
                                                                        <a href="#" class="slider-list__item-link">
                                                                            <img src="img/bmw-min_2.png"
                                                                                 class="slider-list__item-img">
                                                                        </a>
                                                                    </li>
                                                                <li class="slider-list__item">
                                                                        <a href="#" class="slider-list__item-link">
                                                                            <img src="img/bmw-min_3.png"
                                                                                 class="slider-list__item-img">
                                                                        </a>
                                                                    </li>
                                                                <li class="slider-list__item">
                                                                        <a href="#" class="slider-list__item-link">
                                                                            <img src="img/bmw-min_4.png"
                                                                                 class="slider-list__item-img">
                                                                        </a>
                                                                    </li>
                                                                <li class="slider-list__item">
                                                                        <a href="#" class="slider-list__item-link">
                                                                            <img src="img/bmw-min_5.png"
                                                                                 class="slider-list__item-img">
                                                                        </a>
                                                                    </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        </main>
                    </div>
                    <div class="content__sidebar">
                        <div class="sidebar">
                            <div class="sidebar__row">
                                <div class="sidebar-banner">
                                    <a href="#" class="sidebar-banner__link">
                                        <img src="img/banner.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar__row sidebar__row_tabs-block">
                                <div class="sidebar-tabs"  ng-controller="TabController as tabCtrl">
                                    <div class="sidebar-tabs__tabular-menu">
                                        <a ng-click="tabCtrl.currentTab = 'read' "
                                           onclick="return false"
                                           ng-class="tabCtrl.currentTab == 'read' ? 'sidebar-tabs__tabular-btn_active' : ''"
                                           href="#"
                                           class="sidebar-tabs__tabular-btn ">Читают</a>
                                        <a ng-click="tabCtrl.currentTab = 'comment' "
                                           onclick="return false"
                                           ng-class="tabCtrl.currentTab == 'comment' ? 'sidebar-tabs__tabular-btn_active' : ''"
                                           href="#"
                                           class="sidebar-tabs__tabular-btn">Комментируют</a>
                                    </div>
                                    <div class="sidebar-tabs__tab-segment" ng-show="tabCtrl.currentTab == 'read'">
                                        <div class="list-news">
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Кроссовер Mazda CX-5 будут
                                                            собирать в России</a>
                                                        <span class="news-link__comments">10</span>
                                                    </h3>

                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">На самых старых автомобилях в
                                                            России ездят на Камчатке</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Берни Экклстоун решил жениться</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Citroen привезет в Россию
                                                            "трекинговую" версию C3 Picasso</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="sidebar-tabs__tab-segment" ng-show="tabCtrl.currentTab == 'comment'">
                                        <div class="list-news">
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Кроссовер Кроссовер Кроссовер
                                                            Кроссовер</a>
                                                        <span class="news-link__comments">10</span>
                                                    </h3>

                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">На Кроссовер старых Кроссовер в
                                                            Кроссовер Кроссовер на Кроссовер</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Берни Экклстоун решил жениться</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Citroen привезет в Россию
                                                            "трекинговую" версию C3 Picasso</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__row sidebar__row_quiz">
                                <div class="quiz">
                                    <h2 class="quiz__titile">Ответьте на вопрос</h2>
                                    <p class="quiz__question">Какая марка маши вызывает у
                                        вас наибольшее доверие с
                                        точки зрения безопасности?
                                    </p>
                                    <ul class="quiz__list-answer">
                                        <div class="quiz__message">
                                            <div class="message message_quiz">
                                                <p class="message__text">Выберите</p>
                                            </div>
                                        </div>
                                        <li class="quiz__answer quiz__answer_active">
                                            <label class="quiz__answer-label" for="BMW">
                                                <input class="radio" name="quiz1" id="BMW" type="radio" >
                                                <span class="quiz__answer-text ">BMW</span>
                                            </label>
                                        </li>
                                        <li class="quiz__answer ">
                                            <label class="quiz__answer-label" for="Mercedes-Benz">
                                                <input class="radio" name="quiz1" id="Mercedes-Benz" type="radio">
                                                <span class="quiz__answer-text ">Mercedes-Benz</span>
                                            </label>
                                        </li>
                                        <li class="quiz__answer">
                                            <label class="quiz__answer-label" for="Volvo">
                                                <input class="radio" name="quiz1" id="Volvo" type="radio">
                                                <span class="quiz__answer-text ">Volvo</span>
                                            </label>
                                        </li>
                                    </ul>
                                    <div class="quiz__submit">
                                        <button class="btn" type="submit">Ответить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar__row sidebar__row_last-news">

                                <div class="last-news">
                                    <div class="last-news__header">
                                        <h2 class="last-news__title">Новинки</h2>
                                        <div class="last-news__nav">
                                            <div class="nav-list-block">
                                                <div class="nav-list-block__btn nav-list-block__btn_prev ">
                                                    <button class="btn-slide btn-slide_prev" type="button"></button>
                                                </div>
                                                <div class="nav-list-block__btn nav-list-block__btn_next ">
                                                    <button class="btn-slide btn-slide_next" type="button"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="last-news__list">
                                        <div class="list-news">
                                            <div class="list-news__item list-news__item_main">
                                                <div class="news-link">
                                                    <a href="#" class="news-link__img">
                                                        <img src="img/news-thumbnail.jpg" alt="">
                                                    </a>
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Aston Martin завершит выпуск
                                                            суперкара DBS спецсерией</a>

                                                    </h3>

                                                    <span class="news-link__date">27.04 15:51</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Lamborghini выбрала еще одно
                                                            название для будущих моделей</a>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                            <div class="list-news__item">
                                                <div class="news-link">
                                                    <h3 class="news-link__title">
                                                        <a href="" class="news-link__link">Mazda CX-9 нового поколения
                                                            появится в 2013 году</a>
                                                        <span class="news-link__comments">22</span>
                                                    </h3>
                                                    <span class="news-link__date">27.04 11:24</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="page-block__footer">
            <div class="page-block__footer-inner">
                <footer class="footer">
                    <div class="footer__item footer__item_copyright">
                        <p class="copyright">© 2012 Copyright</p>
                    </div>
                    <div class="footer__item">
                        <ul class="social">
                            <li class="social__item">
                                <a href="#" class="social__link social__link_fb"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link social__link_tw"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link social__link_in"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link social__link_gp"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link social__link_yt"></a>
                            </li>
                            <li class="social__item">
                                <a href="#" class="social__link social__link_rss"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <div class="design-info">
                            <div class="design-info__logo">
                                <a href="" class="design-info__link"><img src="img/icon/design-logo.png" alt=""></a>

                            </div>
                            <p class="design-info__info">
                                Дизайн от <a href="" class="design-info__link_name">xeoart</a>
                                <span class="design-info__date">2012</span>
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</body>
</html>

