
@component message{
    position: relative;
    display: inline-block;
    padding: 0.7rem 0.6rem 1rem 1.5rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.85) 56%, rgba(75, 75, 75, 0.85) 100%);
    border: 1px solid black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.47);
    border-radius: 0.3rem;
    &:after{
         content: '';
         position: absolute;
         left: 50%;
         margin-left: -10px;
         bottom: -11px;
         /*border: 10px solid transparent;*/
         /*border-top: 10px solid  #262626;*/
         background-image: url(../img/icon/tooltip_arrow.png);
         height: 1rem;
         width: 1.5rem;
     }
    @modifier quiz{
        padding: 0.6rem 0.8rem 0.8rem 1.3rem;
    }
    @descendent text{
        max-width: 11rem;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
        color: #f0f0f0;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 1.1rem;
        line-height: 1.4;
    }
    @descendent link{
        height:100%;
        border-bottom: 1px solid #5b5b5b;
    }
}
